{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <div class=".bg-info.bg-gradient $gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0));">

            <div id="ai">
                <p>{{ send1 }}</p><br>
                <p>{{ send2 }}</p><br>
                <p>{{ send3 }}</p>
            </div>
            <button onclick="goBack()">Go Back</button>

            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
    </div>
{% endblock %}


