{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">
                {% if title %}
                    {{ title }}
                {% else %}
                    Scraped Data
                {% endif %}
            </h1>

            <div class="pagination">
                {{ pagination.info }}
                {{ pagination.links }}</div>

            <table class="table table-dark" border="1">
                <thead>
                <tr>
                    {% for col in colnames %}
                        {% if col=="most_used_words" %}
                            <th class="rowzz">most used words</th>
                        {% else %}
                            <th class="rowzz">{{ col }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        {% set  item=content[loop.index - 1+pagination.skip] %}
                        {% for col in colnames %}
                            {% if col == "content" %}
                                <td style="text-align:center;">
                                    <form action="{{ url_for('content') }}" method="post" target="_self">

                                        <input type="text" id="send1" name="send1"
                                               value="{{ item[col][0] }}"
                                               style="display: none">
                                        <input type="text" id="send2" name="send2"
                                               value="{{ item[col][1] }}"
                                               style="display: none">
                                        <input type="text" id="send3" name="send3"
                                               value="{{ item[col][2] }}"
                                               style="display: none">

                                        <input class="bttn" type="submit" value="Content">
                                    </form>
                                </td>
                            {% elif col == "comments" %}
                                <td style="text-align:center;">
                                    <form action="{{ url_for('comments') }}" method="post" target="_self">

                                        <input type="text" id="send" name="send" value="{{ item[col] }}"
                                               style="display: none">

                                        <input class="bttn" type="submit" value="Comments">
                                    </form>
                                </td>
                            {% elif col == "most_used_words" %}
                                <td style="text-align:center;">
                                    {% for key, value in item[col].items() %}
                                            <p> {{ key }}  {{ value }} </p>
                                    {% endfor %}
                                </form>
                                </td>
                            {% else %}

                                <td style="text-align:center;">{{ item[col] }}</td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ pagination.links }}

        </div>
    </div>
{% endblock %}


